<a href="https://colab.research.google.com/github/Stravanni/metodi_quantitativi_e_computer_science/blob/main/Verifica_01_Esercizi_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esercizi di assessment delle conoscenze di Python

## Variabili

- Definire due variabili `a` e `b` con valore `7` e `8` e scambiare il valore

In [ ]:
a = 7
b = 8

tmp = a
a = b
b = tmp

a,b

(8, 7)

In [ ]:
# oppure
a = 7
b = 8

a,b = b,a

a,b

(8, 7)

- trasformare `s` in un intero e verificare che il nuovo tipo sia `int`

In [ ]:
s = "1"

In [ ]:
s = int(s)
assert(type(s)==int)

- definire una variabile con tipo di dato **scalare** e un'altra con tipo di dato **non scalare**

In [ ]:
scalar_variable = 1
non_scalar_variable = [1]

- Dati due numeri inserire in tre variabili:
  - risultato della divisione per interi (senza resto)
  - il resto 
  - risultato della divisione (con virgola)

In [ ]:
a = 7
b = 5

In [ ]:
divisine_intero = a//b
divisine_resto = a%b
divisione = a/b

divisine_intero, divisine_resto, divisione

(1, 2, 1.4)

## Stringhe

- calcolare la lunghezza di una stringa

In [ ]:
s = "sono una string"
len(s)

15

- unire due stringhe in modo che siano leggibili (con il corretto spaziamento tra le parole)

In [ ]:
s1 = "sono una"
s2 = "string intera"
s1 + ' ' + s2

'sono una string intera'

In [ ]:
# oppure 
' '.join([s1,s2])

'sono una string intera'

- sostituire l'underscore `"_"` con lo spazio `" "`

In [ ]:
s = "sono_una_string"
s.replace("_"," ")

'sono una string'

- Rendere la stringa (con una sola riga di codice per caso):
1. minuscola
2. maiuscola
3. minustola, senza spazi aggiuntivi all'inizio e alla fine e sostituendo la parola  `"male"` con la parola `"bene"`

In [ ]:
s = " sono unA STinga ScrIttA maLe!   "

In [ ]:
s.lower()

' sono una stinga scritta male!   '

In [ ]:
s.upper()

' SONO UNA STINGA SCRITTA MALE!   '

In [ ]:
s.lower().strip().replace("male","bene")

'sono una stinga scritta bene!'

- scrivere una string al contrario

In [ ]:
s = "scritta al contrario"

In [ ]:
s[::-1]

'oirartnoc la attircs'

- selezionare la prima parola di una stringa

In [ ]:
s = "prima la prarola"

In [ ]:
s.split()[0]

'prima'

- contare il numero di parole in una stringa

In [ ]:
s = "una vera lunga stringa, anzi un po' corta"

In [ ]:
len(s.split())

8

## Control flow:
- for loops
- while loops
- beak, continue
- ...

Data la seguente lista

In [1]:
l = [1,2,3,4,5,'sei','sette',8,9]

1. rimuovere un elemento alla volta da `l` e contare gli elementi senza usare la funzione `len()`
2. rimuovere gli elementi che non sono `int` e inserire il risultato in una lista dal nome `l2`
3. fare la somma degli elmenti in l2
4. rifare il punto 2, ma con la tecnica della `list comprehension` (i.e., in una singola riga)
5. partendo da `l` trasformare `"sei"` in `6` e `"sette"` in `7` (cioe' in numeri interi) e inserire tutto in una lista `l3`
6. filtrare i numeri pari di `l3`
7. fare il print di ogni possibile combinazione di moltiplicazione di numeri di `l3` dispari

In [34]:
# 1
num = 0
while l:
  num+=1
  l.pop()
print(num)

9

In [81]:
l = [1,2,3,4,5,'sei','sette',8,9]

In [82]:
# 2
l2 = []
for i in l:
  if type(i)==int:
    l2.append(i)
l2

[1, 2, 3, 4, 5, 8, 9]

In [77]:
# senza sum
sum = 0
for i in l2:
  sum+=i
sum

32

In [38]:
# 4
l2 = [i for i in l if type(i)==int]
l2

[1, 2, 3, 4, 5, 8, 9]

In [39]:
# 5
l3 = []
for i in l:
  if type(i)==int:
    l3.append(i)
  elif i == "sei":
    l3.append(6)
  elif i == "sette":
    l3.append(7)
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# 6
[i for i in l3 if i%2==0]

[2, 4, 6, 8]

In [41]:
# 7
for i in [i for i in l3 if i%2==1]:
  for j in [i for i in l3 if i%2==1]:
    print("prodotto i*j = {}".format(i*j))

prodotto i*j = 1
prodotto i*j = 3
prodotto i*j = 5
prodotto i*j = 7
prodotto i*j = 9
prodotto i*j = 3
prodotto i*j = 9
prodotto i*j = 15
prodotto i*j = 21
prodotto i*j = 27
prodotto i*j = 5
prodotto i*j = 15
prodotto i*j = 25
prodotto i*j = 35
prodotto i*j = 45
prodotto i*j = 7
prodotto i*j = 21
prodotto i*j = 35
prodotto i*j = 49
prodotto i*j = 63
prodotto i*j = 9
prodotto i*j = 27
prodotto i*j = 45
prodotto i*j = 63
prodotto i*j = 81

## Funzioni

- creare una funzione che prenda in input una lista e ritorni: il numero piu' alto se e' pari, altrimenti il mumero piu' alto - 1

In [47]:
def massimo(l):
  mm = max(l)
  return mm if mm%2==0 else (mm-1)

In [58]:
assert massimo([1,4,77,3])==76

- creare una funzione che prenda in input due liste della stessa dimensione `l1` e `l2` e ritorni una lista che abbia tutti gli elementi alternati di `l1` e `l2`
  - se le due liste hanno lunghezza diversa, ritornare la lista vuota

In [59]:
def myZip(l1,l2):
  if not len(l1)==len(l2):
    return []
  l = []
  for i in range(0,len(l1)):
    l.append(l1[i])
    l.append(l2[i])
  return l

In [60]:
assert myZip(range(0,5),range(10,15))==[0, 10, 1, 11, 2, 12, 3, 13, 4, 14]

- creare una funzinoe che prenda come input una lista `l` e una funzione `f` e applichi a ogni elemento di `l` la funzione `f`

In [61]:
def myMap(l, f):
  return [f(i) for i in l]

In [65]:
def addOne(a):
  return a+1

assert myMap(range(0,5), addOne)==[1, 2, 3, 4, 5]
assert myMap(range(0,5), lambda x: x+3)==[3, 4, 5, 6, 7]

- creare una funzione che conti le parole in un testo `t`

In [66]:
def contaParole(t):
  return len(t.split())

In [68]:
assert contaParole("creare una funzinoe che prenda come input una lista l e una funzione f e applichi a ogni elemento di l la funzione f") == 24

- scrivere la funzione ricorsiva per il calcolo del fattoriale

In [74]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [75]:
assert factorial(5)==120